* {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    color: black;
}

/* Navbar Section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:skyblue;
    color: white;
}

.navbar .logo{
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links ul{
    list-style: none;
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 15px;
}

.navbar .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
